<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= age %></p>
    <p><%= gender %></p>
    <form method="POST" action="/test">
      <input type="text" name="txt">
      <button type="submit">END</button>
    </form>
  </body>
</html>
